/****
STYLES GUIDE:
0. RESET
1. LAYOUT
2. GENERIC ITEMS
3. LIST
4. FORM
5. MEDIAQUERY
-----------------
*/


/* -------- 0. RESET -------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { box-sizing:border-box;}

/* -------- 1. LAYOUT -------- */

body {
	background-color: #5268E7;	
}

.contenedor {
	max-width: 90%;
	margin: 3rem auto;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header nav {
	font-family: roboto;
	font-stretch: expanded;
	color: #fff;
	padding: 20px 15px 20px 15px;
	min-width: 50%;
	background-color: #4869EB;
	border-radius: 50px;
	border: 7px solid #5B70EE;
}

header nav ul {
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

.domo {
	max-width: 10%;
	min-width: 150px;
}
.boton-login {
	background-color: transparent;
	border: transparent;
    font-size: 1rem;
    cursor: pointer;
  	color: #fff;
  	font-weight: bold;
  	letter-spacing: 0.1rem;
}

.boton-naranja  {
  background-color: #FF712D;
  border: #FF712D; 
  border-radius: 5px;
  font-size: 1rem;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

h1 {
	font-family: roboto;
	font-size: 3rem;
	font-stretch: expanded;
	font-weight: bold;
	letter-spacing: 0.1rem;
	line-height: 3.5rem;
	color: #fff;
	margin: 8rem 0 0 2rem;
}

p {
	font-family: roboto;
	font-size: 1rem;
	font-stretch: expanded;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
	color: #fff;
	margin: 2rem 0 0 2rem;
}

.advertise {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
}

.boton-leer {
  background-color: #FF712D;
  border: #FF712D; 
  border-radius: 5px;
  font-size: 1rem;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0 2rem;
}

div.advertise img {
	position: absolute;
	height: 700px;
	right: 0;
	z-index: -1;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer div img {
	background-color: #5268E7;
	border-radius: 20px;
	border: 5px solid #5B70EE;
}

footer div img:hover {
	background-color: #fff;
	border-radius: 20px;
	transform: scale3d(1.5, 1.5, 0.9);		
}

h5 {
	font-family: roboto;
	font-size: 0.9375rem;
	font-stretch: expanded;
	font-weight: bold;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
	color: #fff;
	margin: 1rem 0 0 2rem;
	text-align: center;
}

@media (max-width: 920px) {
    header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
  }
  header nav {
    padding: 20px 15px 20px 15px;
    margin: 5%;

  }
  header nav ul {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  div.advertise img {
    display: none;

  }
  h1 {
    margin: 5rem 0 0 2rem;
  }
}